<% if is_image(asset.asset_url) %>
  <img src="<%= asset.asset_url(:display) %>">
<% elsif is_movie(asset.asset_url) %>
  <video id="asset-<%= asset.id %>" class="video-js vjs-default-skin preview" width="768" height="500" data-setup='{ "preload": "auto" }' preload="auto">
    <source src="<%= asset.asset_url %>" type="video/mp4">
  </video>
<% else %>
  <%= File.basename asset.asset_url %> <a href="<%= asset.asset_url %>" class="btn">Download</a>
<% end %>

<div class="row entry-container">
  <%= asset.description %>
</div>
