<% if is_image(asset.asset_url) %>
  <img src="<%= asset.asset_url(:display) %>">
<% elsif is_movie(asset.asset_url) %>
	<video id="asset-<%= asset.id %>" class="video-js vjs-default-skin preview" data-setup='{ "preload": "auto", "controls": true }' preload="auto" controls="controls">
		<source src="<%= asset.asset_url %>" type="video/mp4">
	</video>
<% else %>
	<div class="row asset-summary downloads">
  		<a href="<%= asset.asset_url %>" class="btn">Download</a> <%= File.basename asset.asset_url %>
	</div>
<% end %>

<% unless asset.description.blank? %>
<div class="row asset-summary">
  <p><%= asset.description %></p>
</div>
<% end %>
