<% if is_image(asset.asset_url) %>
  <div>
    <img src="<%= asset.asset_url(:display) %>">
  </div>
<% elsif is_movie(asset.asset_url) %>
  <!--[if IE]>
  <video id="asset-<%= asset.id %>" class="video-js vjs-default-skin preview" data-setup='{ "preload": "auto", "controls": true, "techOrder": ["flash", "html5"] }' preload="auto" controls="controls">
  <![endif]-->
  <!--[if !IE]> -->
  <video id="asset-<%= asset.id %>" class="video-js vjs-default-skin preview" data-setup='{ "preload": "auto", "controls": true }' preload="auto" controls="controls">
  <!-- <![endif]-->
		<source src="<%= asset.asset_url %>" type="video/mp4">
	</video>
<% else %>
	<div class="row asset-summary downloads">
		<a href="<%= asset.asset_url %>" class="btn">Download</a> <%= File.basename asset.asset_url %>
	</div>
<% end %>

<% unless asset.description.blank? %>
<div class="row asset-summary">
  <div class="text"><%= raw(asset.description) %></div>
</div>
<% end %>
