<% if is_image(asset.asset_url) %>
  <img src="<%= asset.asset_url %>">
<% elsif is_movie(asset.asset_url) %>
  <video src="<%= asset.asset_url %>" controls>
<% else %>
  <%= File.basename asset.asset_url %> <a href="<%= asset.asset_url %>" class="btn">Download</a>
<% end %>

<div class="row entry-container">
  <%= asset.description %>
</div>
