<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row field">
    <%= f.text_field :title, :placeholder => 'Add your page title', :id => 'page-title' %>
  </div>
  <div class="row field">
    <%= f.text_area :description, :placeholder => 'Add a brief summary for the page', :id => 'page-summary' %>
  </div>

  <div class="row actions">
    <%= f.submit %>
  </div>
<% end %>

<% @page.assets.each do |asset| %>
  <%= render :partial => 'assets/form', :locals => { :asset => asset } %>
<% end %>

<%= render :partial => 'assets/form', :locals => { :asset => @page.assets.new } %>
