<nav class="row primary"><%= link_to 'Create New Page', new_page_path, :class => 'btn' %></nav>
<h1>Pages</h1>

<div class="row content-list">
<% @pages.each do |page| %>
<article class="entry-header">
  <h1 class="entry-title"><%= link_to !page.title.blank? ? page.title : "Untitled", page %> - <span title="<%= page.created_at %>"><%= time_ago_in_words(page.created_at) %> ago</span> - <%= link_to 'Delete', page, method: :delete, data: { confirm: 'Are you sure?' } %></h1>
  <p class="entry-summary"><%= page.description %></p>
  <p class="entry-preview">
    <% page.assets.select{|asset| is_image(asset.asset_url) }.each do |asset| %>
      <img src="<%= asset.asset_url(:thumb) %>" width="80" height="80">
    <% end %>
  </p>
</article>
<% end %>
</div>

<a id="top" href="#logo">Back to Top</a>
