<nav class="row primary"><%= link_to 'Create New Page', new_page_path, :class => 'btn' %></nav>

<h1>Wip pages</h1>

<div class="row content-list">
<% @pages.each do |page| %>
<article class="entry-header">
  <h1 class="entry-title"><%= link_to page.title, page %></h1>
  <p class="entry-summary"><%= page.description %></p>
  <p class="entry-utilities"><%= link_to 'Edit', edit_page_path(page) %> or <%= link_to 'destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %> this page.</p>
</article>
<% end %>
</div>
