<%= form_for asset, :html => { :multipart => true, :class => 'edit_asset asset' } do |f| %>
  <% if asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(asset.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% asset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if is_image(asset.asset_url) %>
    <img src="<%= asset.asset_url(:display) %>">
  <% elsif is_movie(asset.asset_url) %>
    <!--[if IE]>
    <video id="asset-<%= asset.id %>" class="video-js vjs-default-skin preview" data-setup='{ "preload": "auto", "controls": true, "techOrder": ["flash", "html5"] }' preload="auto" controls="controls">
    <![endif]-->
    <!--[if !IE]> -->
    <video id="asset-<%= asset.id %>" class="video-js vjs-default-skin preview" data-setup='{ "preload": "auto", "controls": true }' preload="auto" controls="controls">
    <!-- <![endif]-->
      <source src="<%= asset.asset_url %>" type="video/mp4">
    </video>
  <% else %>
    <% download = true %>
  <% end %>

  <div class="meta clearfix">
    <div class="actions">
      <div class="btn direction clearfix">
        <div class="up">Up</div>
        <div class="down">Down</div>
      </div>
      <%= link_to 'Download', asset.asset_url, :class => 'btn' %>
      <%= link_to 'Remove', asset, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn remove' %>
    </div>
    <div class="description">
      <% if download == true %>
        <div class="filename"><%= File.basename asset.asset_url %></div>
      <% end %>
      <%= f.text_area :description, :placeholder => 'Add a brief summary for the asset', :id => 'asset-summary' %>
      <%= f.hidden_field :order %>
    </div>
  </div>
<% end %>
