<%= form_for asset, :html => {:multipart => true} do |f| %>
  <% if asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(asset.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% asset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row field">
    <%= f.label :asset %><br />
    <%= f.file_field :asset %>
    <%= f.hidden_field :asset_cache %>
    <%= asset.asset_url %>
  </div>
  <div class="row field">
    <%= f.label "Asset Summary" %>
    <%= f.text_area :description, :placeholder => 'Add a brief summary for the asset', :id => 'asset-summary' %>
  </div>
  <div class="row field">
    <%= f.label "Related page" %>
    <%= f.select :page_id, Page.all.map {|x| [x.title, x.id]} %>
  </div>
  <div class="row actions">
    <%= f.submit %>
  </div>
<% end %>
