<h1>Wip assets</h1>

<%= link_to 'Create New Asset', new_asset_path, :class => 'btn' %>

<div class="row content-list">
<% @assets.each do |asset| %>
  <article class="entry-header">
    <h1 class="entry-title"><%= link_to asset.asset_url, asset %></h1>
    <p class="entry-summary"><%= asset.description %></p>
    <p class="entry-utilities"><%= link_to 'Edit', edit_asset_path(asset) %> or <%= link_to 'destroy', asset, method: :delete, data: { confirm: 'Are you sure?' } %> this asset.</p>
  </article>
<% end %>
</div>
